.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.staff-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2rem;
}
  
.staff-item {
    width: 48%;
    margin: 0;
  }


.middle-wrapper{
	display: flex;
	flex-direction: row;
	text-align: center;  
}

.middle-content{
	display: flex;
	flex-direction: column;
	margin: 2rem;
}