.students {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.student-entry {

    max-width: 300px;
    margin: auto;

    @media only screen and (min-width: 600px) {
        width: 48%;
        margin: 0 0 3rem;
    }

    @media only screen and (min-width: 900px) {
        width: 30%;
    }

}

.student-content {
    margin: 1.5em 0 0;
}

body {
    color: #444;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.8;

}

a,
a:visited {
    color: #003c71;
    text-decoration: none;
    font-weight: 700;
}

@media only screen and (min-width: 600px) {

    .single-taze-student .wp-post-image {
        display: inline;
        float: right;
        margin-left: 1.5em;
        margin-bottom: 0;
    }

}