.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.post a.post-thumbnail img {
	max-height: 400px;
	object-fit: cover;
  }

/* For Wide alignment */
.alignwide {
    max-width: 800px; /* Adjust as needed */
    margin-left: auto;
    margin-right: auto;
}

/* For Full alignment */
.alignfull {
    width: 100%;
}