a {
	color: $color__text-input-focus;

	// &:visited {
	// 	color: $color__link-visited;
	// }

	&:hover,
	&:focus{
		color: $color__link;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}

	list-style: none;
}

.site-footer a {
	color: $color__background-body;
}

.student-content .wp-block-button a {
	color: $color__background-body;
}

.site-header .site-title a {
	color: $color__background-body;
	text-decoration: none;
}