.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.site-info {
	background-color: #333;
	color: $color__background-body;
	list-style: none;
}

.site-info a{
	color: $color__background-body;

}