.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

// #colophon {
// 	background-color: $color__text-main;
// 	color: $color__background-body;
// 	padding: 2rem 5rem;
// }

.site-info a {
	color: $color__background-body;

}

.footer-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-right: 3rem;
}

.footer-navigation {
	display: flex;
	flex-direction: column;
}

.menu-footer-menu-container ul {
	padding: 0 !important;
	margin: 0 !important;
}


.site-footer {
	grid-area: footer;
	background-color: #333;
	margin-top: 20px;
	padding: 1rem;
	font-size: .875rem;
	color: #fff;
	text-align: center;

	@media screen and (min-width: 62.5em) {

		padding: 2rem 1rem;
		text-align: left;
		display: grid;
		grid-template-columns: 1fr repeat(3, minmax(auto, 20.83rem)) 1fr;

	}

	.site-logo {
		grid-column: 2/3;
		margin: 0;
	}

	.footer-navigation {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (min-width: 800px) {


	.entry-footer span {
		display: inline-block;
		margin-right: 3rem;

		a {
			text-decoration: none;
		}
	}
}